body{
    color: #180078;
    background: #FF994F;
    
}
.Welcome{
    height: 625px;
    width: 105%;
    background: linear-gradient(to top,#FFE68F, #FFDB5C);
    margin-left: -2.5%;
    margin-top:-43px;
}
h1 {
    overflow-x:hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 64px;
    text-align: center;
    background: linear-gradient(to top, #FF9900, #FF0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #FF0000;
    padding-top: 12%;
    font-style: normal;
    font-weight: normal;
    padding-bottom: 6%;
}
.Opikay{
    padding-left: 13%;
    font-size: 36px;
    padding-bottom: 49px;
}
.Look_works{
    text-align:right;
    padding-right: 13%;
    font-size: 28px;
}
.Introduction{
    margin-top: 3%;
    text-align: center;
    font-size: 36px;
    padding-left: 13%;
    padding-right: 13%;
}
.Storywork{
    margin-top:6%;
    text-align: center;
    font-size: 28px;
}

.works{
    text-align: center;
    font-size: 36px;
    margin-top: 105px;
}
.there{
    text-align:left;
    padding-left:237px;
    font-size: 28px;
}
